<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Colla Notes</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Colla Notes.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@next/dist/aos.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">


          <!--============================Tailwind Css=====================================-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom theme -->
    <script>
        tailwind.config = {
          theme: {
            extend: {
              fontSize: {
                xs: '0.75rem',
                sm: '0.875rem',
                base: '0.938rem',
                lg: '1rem',
                xl: '1.25rem',
                '2xl': '1.5rem',
              },
              spacing: {
                18: '4.5rem',
                22: '5.5rem',
              },
              colors: {
                primary: '#5DADE2',
                sidebar: '#A8E6CF',
                background: '#F5F7F8',
                textmain: '#2C3E50',
                textlight: '#7F8C8D',
              }
            }
          }
        }
    </script>

</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
