@{
    ViewData["Title"] = "Home Page";
}

@* MAIN CONTENT OF THIS PAGE *@
<div class="d-flex flex-wrap mt-4 mb-3 gap-4 justify-content-center align-content-center">

    <div class="card" data-aos="fade-right" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-controller="Home" as class="btn btn-primary">Read More</a>
        </div>
        </div>

    <div class="card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        </div>

    <div class="card" data-aos="fade-left" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-right" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-left" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
    
    <div class="card" data-aos="fade-right" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-left" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-right" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-controller="Home" as class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card" data-aos="fade-left" data-aos-delay="70" data-aos-duration="1200">
        <div class="card-body" style="width: 22rem;">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

</div>

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>
